<title>Spyne - Reports Dashboard</title>
<style>
  table {
    border-collapse: collapse;
  }
  th {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    background-color: #4c4c4c;
    color: white;
  }
  td {
    border: 1px solid #353535;
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }  
</style>

<h2>Spyne Frames - Reports Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" data-pattern="priority-columns">
        <table class="table table-bordered table-hover">
          <thead>
      		  <tr style="text-align: left;">
      		    <th data-priority="1">SL No</th> 
      		    <th data-priority="2">Report Name</th>
      		    <th data-priority="3">Report URL</th>
      		  </tr>
          </thead>
          <tbody>
      			<tr>
              <td>1</td>
              <td>New Registrations</td>
              <td><a target="_blank" href="/reports/frames/registrations">Visit Link</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Daily Reports</td>
              <td><a target="_blank" href="/reports/frames/daily-reports">Visit Link</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Weekly Reports</td>
              <td><a target="_blank" href="/reports/frames/weekly-reports">Visit Link</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Monthly Reports</td>
              <td><a target="_blank" href="/reports/frames/monthly-reports">Visit Link</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Shared Projects</td>
              <td><a target="_blank" href="/reports/frames/shared-projects">Visit Link</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>