<title>Spyne Share V2 - Reports Dashboard</title>
<style>
  table {
    border-collapse: collapse;
  }
  th {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    background-color: #4c4c4c;
    color: white;
  }
  td {
    border: 1px solid #353535;
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }  
</style>

<h2>Spyne V2 - Reports Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" data-pattern="priority-columns">
        <table class="table table-bordered table-hover">
          <thead>
      		  <tr style="text-align: left;">
      		    <th data-priority="1">SL No</th> 
      		    <th data-priority="2">Report Name</th>
      		    <th data-priority="3">Report URL</th>
      		  </tr>
          </thead>
          <tbody>
  			<tr>
  			    <td>1</td>
  			    <td>Spyne Plans</td>
  			    <td><a target="_blank" href="/reports/spyne_plans">Visit Link</a></td>
  			</tr>
            <tr>
                <td>2</td>
                <td>Spyne Subscriptions</td>
                <td><a target="_blank" href="/reports/spyne_subscriptions">Visit Link</a></td>
            </tr>
            <tr>
	            <td>3</td>
	            <td>Spyne Share Projects</td>
	            <td><a target="_blank" href="/reports/spyne_share_projects">Visit Link</a></td>
	        </tr>
            <tr>
	            <td>4</td>
	            <td>Spyne Share Daily Summary</td>
	            <td><a target="_blank" href="/reports/albumn/daily">Visit Link</a></td>
	        </tr>
            <tr>
	            <td>5</td>
	            <td>Spyne Share Weekly Summary</td>
	            <td><a target="_blank" href="/reports/albumn/weekly">Visit Link</a></td>
	        </tr>
            <tr>
	            <td>6</td>
	            <td>Spyne Share Monthly Summary</td>
	            <td><a target="_blank" href="/reports/albumn/monthly">Visit Link</a></td>
	        </tr>
          <tr>
            <td>7</td>
            <td>Spyne Share Vendor Wise Data</td>
            <td><a target="_blank" href="/reports/vendor-wise-data">Visit Link</a></td>
        </tr>
            <tr>
	            <td>8</td>
	            <td>Spyne All Users</td>
	            <td><a target="_blank" href="/reports/spyne_all_users">Visit Link</a></td>
	        </tr>
            <tr>
	            <td>9</td>
	            <td>Spyne All Freelancers</td>
	            <td><a target="_blank" href="/reports/spyne_all_freelancers">Visit Link</a></td>
	        </tr>
            <tr>
		        <td>10</td>
		        <td>Spyne All Photographers</td>
		        <td><a target="_blank" href="/reports/spyne_all_photographers">Visit Link</a></td>
		    </tr>
            <tr>
	            <td>11</td>
	            <td>Spyne All Businesses</td>
	            <td><a target="_blank" href="/reports/spyne_all_businesses">Visit Link</a></td>
	        </tr>
            <tr>
	            <td>12</td>
	            <td>Spyne All Shoot Projects</td>
	            <td><a target="_blank" href="/reports/spyne_all_shoots">Visit Link</a></td>
	        </tr>
            <tr>
	            <td>13</td>
	            <td>Spyne All Assigned Projects</td>
	            <td><a target="_blank" href="/reports/spyne_assigned_shoots">Visit Link</a></td>
			</tr>
			<tr>
                <td>14</td>  
                <td>Total Paid Vendors</td>
                <td><a target="_blank" href="/reports/total-users">Visit Link</a></td>
            </tr>
            <!-- <tr>
              <td>15</td>
              <td>Project, Share and Hot leads</td>
              <td><a target="_blank" href="/reports/project-share-hot-lead">Visit Link</a></td>
          </tr>
        <tr>
          <td>16</td>
          <td>Spyne Share Vendor Summary</td>
          <td><a target="_blank" href="/reports/spyne_share_vendor_summary">Visit Link</a></td>
      </tr> -->
      <tr>
        <td>15</td>
        <td>Capturing Wow Registration Data</td>
        <td><a target="_blank" href="/reports/capturing_wow_report">Visit Link</a></td>
    </tr>
        <tr>
          <td>16</td>
          <td>Website Onboarding Daily Status</td>
          <td><a target="_blank" href="/reports/website-onboarding-status">Visit Link</a></td>
      </tr>
      <tr>
        <td>17</td>
        <td>Website registrations</td>
        <td><a target="_blank" href="/reports/website-registrations">Visit Link</a></td>
      </tr>
      <tr>
        <td>18</td>
        <td>Share Registrations</td>
        <td><a target="_blank" href="/reports/share-registrations">Visit Link</a></td>
      </tr>
      <tr>
        <td>19</td>
        <td>Share Onboarding Daily Status</td>
        <td><a target="_blank" href="/reports/share-onboarding-status">Visit Link</a></td>
      </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>