<title>Spyne - Vendor Registrations</title>
<style>
  table {
    border-collapse: collapse;
  }
  th {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    background-color: #4c4c4c;
    color: white;
  }
  td {
    border: 1px solid #353535;
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }  
</style>

<h2>Spyne - Reference Lead Generated Through Hot Leads </h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" data-pattern="priority-columns">
        <table class="table table-bordered table-hover">
          <thead>
		  <tr style="text-align: left;">
		    <th data-priority="1">Share Pop Up Lead</th> 
		  </tr>
          </thead>
          <tbody>
			<tr>
			    <td>{{count}}</td>
			</tr>
			</tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>